<ion-header>
  <ion-toolbar >
    <ion-back-button defaultHref="/landing" slot="start"></ion-back-button>
    <ion-title class="ion-text-center">Employee List</ion-title>
  </ion-toolbar>

</ion-header>
<ion-content class="ion-padding">
  <ion-grid>
    <ion-row>
      <ion-col sizeLg="4" sizeMd="4" sizeXs="12" [sizeSm]="6" *ngFor="let employee of employeeList">
        <ion-card>
          <div class="ion-padding">
            <div class="back-container">
              <div class="top"></div>
              <div class="bottom">
                <div class="bottom-card-info">
                  <h5 class="ending-date">UID: {{employee.uid}}</h5>
                  <h5 class="ending-date">
                    Copyright @
                    <span
                      ><a
                        class="portfolio-link"
                        href="#"
                        >Saiganesh</a
                      ></span
                    >
                  </h5>
                </div>
              </div>
            </div>
            <div class="front-container">
              <div class="front-content">
                <img
                  src="../../../assets/images/lpu.png"
                  alt="lpu logo"
                  class="lpuLogo"
                />
                <h4 class="general-text-bright">
                  Lovely Professional University
                </h4>
                <img
                  class="employee-image"
                  src="../../../assets/images/avatar.png"
                  alt=""
                />
                <h4 class="general-text-dark">{{employee.name}}</h4>
                <!-- <p class="general-text-dark-small">
                  Bachelor of Technology in Computer Science and Engineering
                </p> -->
                <p class="general-text-dark">
                  <strong>{{employee.designation}}</strong>
                </p>
              </div>
            </div>
          </div>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
