<ion-header>

</ion-header>

<ion-content>
  <div class="bg-pic">
    <div class="bg-filter">

      <ion-card>
        <ion-card-header>
          <ion-card-title>
            <b>Welcome!</b>
          </ion-card-title>

          <ion-card-title>
        Please Select an Action
          </ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <div class="bottom-section">
            <ion-button [routerLink]="['/add-employee-page']">Add Employee Details</ion-button>
            <ion-button [routerLink]="['/employee']">Get Details</ion-button>

          </div>
        </ion-card-content>
      </ion-card>
    </div>
  </div>
</ion-content>
