<ion-header>

</ion-header>

<ion-content>
  <div class="bg-pic">
    <div class="bg-filter">
      <div class="shape">
        <img src="../../assets/shape.svg" />
      </div>
      <ion-card>
        <ion-card-header>
          <ion-card-title>
            Welcome!
          </ion-card-title>
          <ion-card-subtitle>
            Enter your details, Let's <a href="#">Sign Up</a> 
          </ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          <ion-item>
            <ion-input placeholder="Employee name"></ion-input>
          </ion-item>
          <ion-item>
            <ion-input placeholder="Uid"></ion-input>
          </ion-item>
          <ion-item>
            <ion-input placeholder="Email Address"></ion-input>
          </ion-item>
          <!-- <ion-item>
            <ion-input placeholder="Password"></ion-input>
          </ion-item> -->
          <!-- <a href="#">Forgot Password</a> -->
          <ion-item>
            <ion-input placeholder="State"></ion-input>
          </ion-item>
          <ion-item>
            <ion-input placeholder="City"></ion-input>
          </ion-item>


          <div class="bottom-section">
            <ion-button>Sign In</ion-button>
            <span>Don't have an account ? <a href="./signupscreen">Sign Up</a></span>
          </div>
        </ion-card-content>
      </ion-card>
    </div>
  </div>
</ion-content>
