<ion-header>

</ion-header>

<ion-content>
  <div class="bg-pic">
    <div class="bg-filter">
      <ion-card>
        <ion-card-header>
          <ion-card-title>
            Welcome!
          </ion-card-title>
          <ion-card-subtitle>
            Enter your details,<a href="">Let's Get Started</a> 
          </ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          <ion-item>
            <ion-input placeholder="Employee name"></ion-input>
          </ion-item>
          <ion-item>
            <ion-input placeholder="Uid"></ion-input>
          </ion-item>
          <ion-item>
            <ion-input placeholder="Email Address"></ion-input>
          </ion-item>
          <ion-item>
            <ion-input placeholder="State"></ion-input>
          </ion-item>
          <ion-item>
            <ion-input placeholder="City"></ion-input>
          </ion-item>


          <div class="bottom-section">
            <ion-button>Submit</ion-button>
          </div>
        </ion-card-content>
      </ion-card>
    </div>
  </div>
</ion-content>
